@model IEnumerable<EV.Models.Ivent>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Лист мероприятий</h2>
            <hr />
            <br />
            <br />
        </div>

        <div class="col-6 text-lg-end">
            <a asp-controller="Ivent" asp-action="Create" class="btn btn-primary">Добавить Событие</a>
            
        </div>
        <br /><br />
       
       
        <div class="row">
            @foreach (var invent in Model)
            {
                <partial name="_IndIventCard" model="invent"/>
            }

        </div>
  

        


    </div>
</div>
